<div class="essay">
  <div class="essay-title">
    <h1><span>{{title}}</span></h1><br/>
  </div>
  {{{body}}}
  <hr/>
  <p><a target="_blank" href="https://twitter.com/techwraith">Daniel Erickson</a> is the Founder and CEO of <a target="_blank" href="https://askviable.com">Viable</a>, an Autonomous Expereince Analysis tool that helps teams make better decisions with qualitative data.</p>
</div>
