<div class="essay">
  <div class="essay-title">
    <h2><span>{{categoryTitle}}</span></h2>
    <h1><span>{{title}}</span></h1><br/>
  </div>
  {{{body}}}
</div>
<div id="signature">
  <small>– <a href="https://twitter.com/techwraith">@techwraith</a></small>
</div>
