<div class="essay">
  <div class="essay-title">
    <h2>{{categoryTitle}}</h2>
    <h1>{{title}}</h1><br/>
  </div>
  {{{body}}}
</div>
<div id="signature">
  <small>– <a href="https://twitter.com/techwraith">@techwraith</a></small>
</div>
