<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/index.css"></link>
</head>
<body>
  <div class="content">
    {{{body}}}
    <div id="signature">
      <small>– <a href="https://twitter.com/techwraith">@techwraith</a></small>
    </div>
    <h2>Essays</h2>
    <ol id="essays">
      {{#essays}}
        <li>
          <a href="/{{slug}}/">{{title}}</a>
        </li>
      {{/essays}}
    </ol>
  </div>
</body>
</html>
